
.card-Width {
    border-top: 20px;
    padding: 20px;
    /* background-color: aqua; */
 }

 .cards-size {
    height: 600px;
 }

 .card-detail {
    padding: 0px;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
 }

 .form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
 }
 
 .form-signin .checkbox {
   font-weight: 400;
 }
 
 .form-signin .form-floating:focus-within {
   z-index: 2;
 }
 
 .form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }
 
 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }
 


 